<!DOCTYPE html>
<html lang="en">
  <!--divinectorweb.com-->
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>User Profile Card using HTML & CSS</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <div class="box">
        <div class="profile-img"><img alt="" src="Images/profile.jpg" /></div>
        <h2>Saurav Kumar Jha <span>Delhi, India</span></h2>
        <p>
          Front-End Developer &<br />
          Open Source Enthusiast
        </p>
        <p class="btn-area">
          <a href="https://github.com/Saurav50">GitHub</a>
          <a
            class="ex"
            href="https://www.linkedin.com/in/saurav-kumar-jha-885337223/"
            >LinkedIn</a
          >
        </p>
        <div class="socials">
          <a href="#" class="a1">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com/Saurav_50" class="a2">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="a3">
            <i class="fa fa-pinterest"></i>
          </a>
          <a href="https://www.instagram.com/_saurav.50/" class="a4">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
